body{
    font-size: 1.2rem;
}
h1{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
}
div#login-container{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    
}

div#syainbangou, div#password-container{
    display: flex;
    align-items: center;

    input{
        font-size: 1.4rem;
        height: fit-content;
        margin-left: 30px;
    }
}
p.login-text{
    font-size: 1.4rem;
    
}
div#button-container{
    width: 40%;
    display: flex;
    margin: 30px auto;
    justify-content: space-evenly;
}

button.normal-button{
  font-size: 1.2rem;
  background-color: white;
  border-radius: 7px;
  border-width: 2px;
  padding: 5px 10px;
  transition: 0.3s;
  margin: 10px;
}
button.normal-button:hover{
  cursor: pointer;
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 30px 0 #00000030;
}