@charset "utf-8";
h1{
    margin: 10% auto 15% auto;
    text-align: center;
}
form{
    display: flex;
    width: fit-content;
    margin: auto;
}
button{
    font-size: 1.6rem;
    background-color: white;
    border-radius: 7px;
    transition: 0.3s;
}
button:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 30px 0 #00000030;
}