@charset "utf-8";

div#everything-wrapper{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

div#top-text-holder {
    display: flex;
    margin-bottom: 10px;
    span{
        width: fit-content;
        margin: auto 10% auto auto;
        border-bottom: 1px solid yellowgreen;
        padding: 0px 5px;
    }
}

div#top-area-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
p.close:hover{
    cursor : pointer;
}

div#search-params-container{
    display: flex;
    width: fit-content;
}

div#search-checkboxes-container{
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    div{
        margin: 5px 0px 10px 0px;
        display: flex;
        input{
            cursor: pointer;
        }
        p {
            width: fit-content;
            font-size: 1rem;
            margin: 0px;
        }
    }
}

div#search-buttons-holder{
    display: flex;
    flex-direction: column;
    margin: auto auto auto 30px;
    button{
        margin-bottom: 5px;
    }
}

div.back-button-holder{
    display: flex;
    width: fit-content;
    margin: 0px 2.3% 20px auto;
}

div#selectDisplayFilters-holder{
    display: flex;
    width: fit-content;
    margin: -50px 0px 0px 30px;
    input{
        transform: scale(1.2);
        cursor: pointer;
    }
    p{
        font-size: 1rem;
        width: fit-content;
        margin-right: 20px;
    }
}


button.submit{
    background-color: aqua;
    font-size: 1rem;
    border-radius: 7px;
    border-width: 2px;
    padding: 5px 10px;
    transition: 0.3s;
}
button.submit:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 30px 0 #00000030;
}

button#reset-search{
    font-size: 1rem;
}

button.normal-button, button.edit-button, button.delete-button{
    background-color: white;
    font-size: 1.2rem;
    border-radius: 7px;
    border-width: 2px;
    padding: 5px 10px;
    transition: 0.3s;
}
button.normal-button:hover, button.edit-button:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 30px 0 #00000030;
}

button.edit-button{
    background-color: aliceblue;
    height: fit-content;
}

button#btn-start{
    margin-right: 7%;
    padding: 5px 20px;
}

div#pulldown-menus-container{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0px 30px;
    select{
        font-size: 1.4rem;
        margin: 2%;
    }
}

div#date-menus-container{
    display: flex;
    width: fit-content;
}

div.date-row-wrapper{
    display: flex;
    width: 100%;
    margin: 2%;
    input{
        font-size: 1.4rem;
    }
    p{
        font-size: 1rem;
        margin: 0px 5px;
    }
}

button#btn-add{
    margin-right: 7%;
}

div#page-selector-wrapper{
    display: flex;
    width: fit-content;
    margin: auto;
}
span.page-number-span{
    font-size: 0.9rem;
    cursor: pointer;
    text-align: center;
    padding: 5px;
}
span.current-page{
    font-size: 1rem;
    text-decoration: underline;
}

/* 発注データオブジェクトの設定はここから */

div.order-box{
    display: flex;  /* 非表示フィルターになったらnoneと切り替える */
    width: 95%;
    margin: auto auto 20px auto;
    border: 2px solid black;
    border-radius: 10px;
    justify-content: space-between;
    font-size: 1.2rem;
}

/* orderStatus 発注ステータスによる変更する背景色 */
.confirming{ background-color: #d2ccc7
}
.sending{ background-color: #b4d9ef
}
.arrived{ background-color: #77fbd3
}
.stopped{ background-color: white
}

div.order-image-txt-holder, div.order-status-box{
    display: flex;
    width: fit-content;
    margin: 5px;
    p{
        width: fit-content;
        margin: auto;
    }
    form{
        display: flex;
        width: fit-content;
        height: fit-content;
        button{
            margin: auto 10px;
        }
    }
}
div.order-status-box{
    margin-right: 20px;
    flex-direction: column;
    justify-content: space-evenly;
    p{
        margin: 0px auto;
    }
}

a.image-wrapper-anchor{
    display: block;
    line-height: 0;
    img{
        margin-right: 10px;
        border: 0.5px solid black;
        border-radius: 7px;
    }
}

a.product-name-anchor{
    text-decoration: underline;
    color: black;
}

/* 発注データオブジェクトの設定はここまで */

/* 開始popupの設定はここからです */
div#black-background{
    display: none;  /* flexとnoneを切り替える */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0006;
    z-index: 2;
}

div#start-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;  /* flexとnoneを切り替える */
    z-index: 15;
    width: 50%;
    flex-direction: column;
    padding: 10px 50px;
    border: 2px solid black;
    border-radius: 35px;
    background-color: white;
    font-size: 1.2rem;
}

div#start-pop-contents{
    width: 60%;
    margin: 0 auto 30px auto;
}

div#start-title-section{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

div#start-top-section{
    display: flex;
    width: fit-content;
    margin: auto;

    select{
        font-size: 1.2rem;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
}

div#start-middle-section{
    width: fit-content;
    margin: 20px auto;
    td{
        font-size: 1.2rem;
    }
}
td.table-left-side{
    width: 180px;
}

div#start-middle-section td#orderStartQuantityPriceMessage{
    font-size: 1rem;
    padding-bottom: 10px;
    text-align: right;
}

input#order-quantity-boxes{
    font-size: 1.2rem;
}

div#start-buttons-holder{
    width: fit-content;
    margin: auto;
    button{
        margin: 10px 40px;
    }
}

/* 開始popupの設定はここまでです */

/* 停止popupの設定はここからです */

div#stop-top-text-holder{
    display: flex;
    flex-direction: column;
    p#stopProductID{
        font-size: 1rem;
    }
    p#stopProductName{
        font-size: 1.2rem;
    }
}

div#stop-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;  /* flexとnoneを切り替える */
    z-index: 15;
    width: 50%;
    flex-direction: column;
    padding: 10px 50px;
    border: 2px solid black;
    border-radius: 35px;
    background-color: white;
    font-size: 1.2rem;
}

div#stop-pop-contents{
    width: 60%;
    margin: 0 auto 30px auto;
}

div#stop-title-section{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

div#stop-top-section{
    display: flex;
    width: fit-content;
    margin: auto;

    select{
        font-size: 1.2rem;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
}

div#stop-middle-section{
    width: fit-content;
    margin: 20px auto;
    table tr td{
        font-size: 1.2rem;
    }
}

input#order-quantity-boxes{
    font-size: 1.2rem;
}

div#stop-buttons-holder{
    width: fit-content;
    margin: auto;
    button{
        margin: 10px 40px;
    }
}

/* 停止popupの設定はここまでです */










/*div#next{*/
/*    display: flex;*/
/*    justify-content: flex-end;*/
/*    padding: 0 20px;*/
/*}*/
/*button#btn-add{*/
/*    font-size: 1.4rem;*/
/*    background-color: white;*/
/*    border-radius: 7px;*/
/*    transition: 0.3s;*/
/*}*/
/*button#btn-add:hover{*/
/*    cursor: pointer;*/
/*    box-shadow: 0 4px 8px 0 #00000033, 0 6px 30px 0 #00000030;*/
/*}*/
/*button.submit{*/
/*    background-color: aqua;*/
/*    font-size: 1.4rem;*/
/*    border-radius: 7px;*/
/*    transition: 0.3s;*/
/*}*/
/*button.submit:hover{*/
/*    cursor: pointer;*/
/*    box-shadow: 0 4px 8px 0 #00000033, 0 6px 30px 0 #00000030;*/
/*}*/

/*button.normal-button{*/
/*    background-color: white;*/
/*    font-size: 1.2rem;*/
/*    border-radius: 7px;*/
/*    border-width: 2px;*/
/*    padding: 0 30px 0 30px;*/
/*    transition: 0.3s;*/
/*}*/
/*div#back{*/
/*  display: flex;*/
/*  justify-content: flex-end;*/
/*  padding: 0 20px;*/
/*}*/
/*button#back{*/
/*    font-size: 1.2rem;*/
/*    background-color: white;*/
/*    border-radius: 7px;*/
/*    transition: 0.3s;*/
/*}*/
/*button#back:hover{*/
/*    cursor: pointer;*/
/*    box-shadow: 0 4px 8px 0 #00000033, 0 6px 30px 0 #00000030;*/
/*}*/
/*div#pulldown-menus select{*/
/*    margin: 5px 10px;*/
/*    font-size: 1.2rem;*/
/*    width: 300px;*/
/*}*/
/*div#pulldown-menus input{*/
/*    margin: 5px 10px;*/
/*    font-size: 1.2rem;*/
/*}*/
/*div#pulldown-menus button{*/
/*  font-size: 1.2rem;*/
/*}*/
/*dl{*/
/*  height: 550px;*/
/*  overflow-y: scroll;*/
/*  border: 1px solid #000;*/
/*}*/
/*table{*/
/*  width: 97%;*/
/*  border: 1px solid #000;*/
/*  margin: 20px;*/
/*}*/
/*td{*/
/*    font-size: 1.2rem;*/
/*}*/
/*td.status{*/
/*    width: 100px;*/
/*    padding-right: 40px;*/
/*}*/
/*td.photo{*/
/*    width: 90px;*/
/*}*/
/*p.status{*/
/*    display: flex;*/
/*    margin: auto;*/
/*}*/
/*button#stop{*/
/*    background-color: aqua;*/
/*    font-size: 1.2rem;*/
/*    border-radius: 7px;*/
/*    transition: 0.3s;*/
/*}*/
/*button#stop:hover{*/
/*    cursor: pointer;*/
/*    box-shadow: 0 4px 8px 0 #00000033, 0 6px 30px 0 #00000030;*/
/*}*/


/*p.closure{*/
/*    cursor: pointer;*/
/*    text-align: right;*/
/*}*/

/*div#obfuscation-banner{*/
/*    display: none;  !* flexとnoneを切り替える *!*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-color: #0006;*/
/*    z-index: 2;*/
/*}*/


/*div#add-product-popup{*/
/*    position: fixed;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    -ms-transform: translate(-50%, -50%);*/
/*    transform: translate(-50%, -50%);*/
/*    display: none;  !* flexとnoneを切り替える *!*/
/*    z-index: 15;*/
/*    width: 50%;*/
/*    flex-direction: column;*/
/*    padding: 10px 50px;*/
/*    border: 2px solid black;*/
/*    border-radius: 35px;*/
/*    background-color: white;*/
/*    font-size: 1.2rem;*/
/*}*/

/*div#cancel-popup{*/
/*    position: fixed;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    -ms-transform: translate(-50%, -50%);*/
/*    transform: translate(-50%, -50%);*/
/*    display: none;  !* flexとnoneを切り替える *!*/
/*    z-index: 15;*/
/*    width: 50%;*/
/*    flex-direction: column;*/
/*    padding: 10px 50px;*/
/*    border: 2px solid black;*/
/*    border-radius: 35px;*/
/*    background-color: white;*/
/*    font-size: 1.2rem;*/
/*}*/


/*div#add-top-row{*/
/*    display: flex;*/
/*    width: 100%;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    margin: 0;*/
/*}*/

/*div#add-main-section{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    width: 100%;*/
/*    justify-content: space-between;*/
/*}*/


/*div#add-right-side{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    width: fit-content;*/
/*    height: 40%;*/
/*    margin-left: 10px;*/
/*}*/

/*div#add-image-section{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*}*/

/*div#add-tables-wrapper{*/
/*    display: flex;*/
/*    width: fit-content;*/
/*    margin: auto;*/
/*    justify-content: space-between;*/
/*    table{*/
/*        margin: 10px 20px;*/
/*    }*/
/*}*/

/*div#add-buttons-holder{*/
/*    display: flex;*/
/*    width: 100%;*/
/*    justify-content: space-evenly;*/
/*    margin: 20px auto;*/
/*    button{*/
/*        font-size: 1.2rem;*/
/*    }*/
/*}*/


/*table.add-table{*/
/*    border: none;*/
/*}*/

/*p.hint{*/
/*    margin-top: 5px;*/
/*    color: cadetblue;*/
/*    font-size: 0.8rem;*/
/*}*/

/*td.table-left-side{*/
/*    width: 150px;*/
/*}*/

/*span.optional-parameter-wrapper{*/
/*    font-size: 0.8rem;*/
/*}*/
/*div#cancel-popup p{*/
/*    text-align: center;*/
/*}*/