div#everything-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: white;
}

div#main-section-wrapper{
    width: fit-content;
    height: fit-content;
    display: flex;
    margin: auto;
    font-size: 1.4rem;
    div#image-container{
        padding-top: 45px;
        padding-right: 35px;
    }
}

div#top-text-holder {
    display: flex;
    margin-bottom: 10px;
    h1{
        margin: 25px auto 0px 30px;
    }
    span{
        width: fit-content;
        margin: auto 10% auto auto;
        border-bottom: 1px solid yellowgreen;
        padding: 0px 5px;
    }
}

/*h1{*/
/*    margin: 21px 5px;*/
/*}*/

img.image{
    border: 1px solid black;
    border-radius: 25px;
}

table#data-table{
    width: 400px;
    border-collapse: collapse;
    tr{
        border-bottom: 0.5px solid black;
    }
}

tr.autoOrderStoppedRow{
    background-color: #ebdada;
}
div#auto-order-stopped-div{
    width: 200px;
    margin-left: 30px;
}
p#auto-order-stopped-warning{
    font-size: 1.2rem;
    color: #888888;
}

div#right-buttons-container{
    display: flex;
    flex-direction: column;
    padding-top: 45px;
    form{
        button{
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
            margin: 7px 7px 7px 30px;
        }
    }
}

div#additional-controls-wrapper{
    display: flex;
    width: fit-content;
    margin: 20px auto 15px;
    button{
        margin: 0px 7px;
    }

}

button.normal-button{
    background-color: white;
    border-radius: 5px;
    font-size: 1.6rem;
    border-width: 1px;
    padding: 0 30px 0 30px;
    transition: 0.3s;
}
button.normal-button:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
}

button.delete-button{
    background-color: orangered;
    border-radius: 5px;
    font-size: 1.6rem;
    border-width: 1px;
    padding: 0 15px 0 15px;
    transition: 1s;
}
button.delete-button:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 red, 10px 6px 20px 0 #00000030;
}

div#bottom-buttons-container{
    width: fit-content;
    margin:0 35px auto auto;
}

span.alert-span{
    color: orangered;
}
span.awaitingArrival-span{
    font-size: 1rem;
    color: #3959eb;
}

/* pulseボタンの設定がここから */

.pulse{
    animation: pulse 2s ease-in-out 2;
    border: 2px solid orangered;
}

@keyframes pulse {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

/* pulseボタンの設定がここまで */


/* ポップアップの設定がここからです。 */

/* 共通 */

p.closure{
    cursor: pointer;
}

div#obfuscation-banner{
    display: none;  /* flexとnoneを切り替える */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0006;
    z-index: 2;
}

/* 商品情報変更ポップアップ */

div#update-settings-popup{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;  /* flexとnoneを切り替える */
    z-index: 15;
    width: fit-content;
    flex-direction: column;
    padding: 10px 50px;
    border: 2px solid black;
    border-radius: 35px;
    background-color: white;
    font-size: 1.2rem;
}

div#update-top-row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

div#update-main-section{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

div#update-right-side{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 40%;
    margin-left: 10px;
    div.update-field-wrapper{
        display: flex;
        width: 100%;
        max-height: 35px;
        justify-content: space-between;
        align-items: center;
        margin: 0px;
        input{
            height: 1.2rem;
            margin-left: 30px;
        }
    }
}

div#update-price-holder, div#update-cost-holder{
    display: flex;
    align-items: center;
    input{
        margin-right: 5px;
    }
}

div#update-left-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    p.popup-text{
        margin-top: 0px;
    }
}

div.to-tags-holder{
    width: fit-content;
    margin: auto;
    display: flex;
    button{
        font-size: 1rem;
    }
}

div#update-bottom{
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin: 20px auto;
    button{
        font-size: 1.4rem;
    }
}

p.hint{
    margin-top: 5px;
    color: cadetblue;
    font-size: 0.8rem;
}

/* アラート・自動発注設定変更ポップアップ */


div#alertUpdate-settings-popup{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;  /* flexとnoneを切り替える */
    z-index: 15;
    width: fit-content;
    flex-direction: column;
    padding: 10px 50px;
    border: 2px solid black;
    border-radius: 35px;
    background-color: white;
    font-size: 1.2rem;
}

div#alertUpdate-top-row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    h2{
        margin-right: 200px; /* これでポップアップ全体の幅を決める */
    }
}

p#alertUpdate-total-purchase{
    width: 100%;
    text-align: right;
}

div#alertUpdate-main-section{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 40%;
    margin: auto;
    table tr td.alertUpdate-alignRight-td{
        text-align: right;
    }
    div.alertUpdate-field-wrapper{
        display: flex;
        width: 100%;
        max-height: 35px;
        justify-content: space-between;
        align-items: center;
        margin: 0px;
        input{
            height: 1.2rem;
            margin-left: 30px;
        }
        div.alertUpdate-quantityInput-holder{
            display: flex;
            align-items: center;
            input{
                margin-right: 5px;
            }
        }
    }
}

td#table-left-side{
    width: 140px;
}

div#alertUpdate-bottom{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    margin: 20px auto;
    button{
        font-size: 1.2rem;
        margin: 10px 5px;
    }
}

button#order-toggle-button{
    width: fit-content;
    align-self: center;    
}

div#bottomMost-buttons-holder{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-evenly;
    button{
        font-size: 1.4rem;
        
    }
}

