div#everything-wrapper{
    font-size: 1.4rem;
    width: 100%;
    align-items: center;
    height: fit-content;
    margin: 10% auto;
    display: flex;
    flex-direction: column;
}

div#main-section-wrapper{
    display: flex;
    width: fit-content;
    margin: auto;
    justify-content: space-between;
}

div#left-section-wrapper{
    display: flex;
    margin: 20px 50px;
}

img.image{
    border: 1px solid black;
    border-radius: 25px;
}

td.table-left-side{
    width: 150px;
}

div#buttons-holder{
    display: flex;
    width: fit-content;
    margin: auto;
    button{
        font-size: 1.4rem;
        margin: 30px 20px;
    }
}

button.normal-button{
    background-color: white;
    border-radius: 5px;
    font-size: 1.6rem;
    border-width: 1px;
    padding: 0 30px 0 30px;
    transition: 0.3s;
}
button.normal-button:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
}
