@charset "UTF-8";

div#everything-wrapper{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

div#top-text-holder {
  display: flex;
  margin-bottom: 10px;
  span{
    width: fit-content;
    margin: auto 10% auto auto;
    border-bottom: 1px solid yellowgreen;
    padding: 0px 5px;
    /* border: 1px solid black ; */
  }
}

div#top-area-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
p.close:hover{
    cursor : pointer;
}

div#top-buttons{
    width: 38%;
    justify-content: space-evenly;
    display: flex;
    margin-bottom: 30px;
}

div#search-params-container{
    display: flex;
    width: fit-content;
}

div#search-buttons-holder{
    display: flex;
    flex-direction: column;
    margin: auto auto auto 30px;
    button{
        margin-bottom: 5px;
    }
}

div.back-button-holder{
    display: flex;
    width: fit-content;
    margin: 0px 2.3% 20px auto;
}

button.submit{
    background-color: aqua;
    font-size: 1rem;
    border-radius: 7px;
    border-width: 2px;
    padding: 5px 10px;
    transition: 0.3s;
}
button.submit:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 30px 0 #00000030;
}

button#reset-search{
    font-size: 1rem;
}

button.normal-button, button.edit-button, button.delete-button{
    background-color: white;
    font-size: 1.2rem;
    border-radius: 7px;
    border-width: 2px;
    padding: 5px 10px;
    transition: 0.3s;
}
button.normal-button:hover, button.edit-button:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 30px 0 #00000030;
}

button.edit-button{
    background-color: aliceblue;
    height: fit-content;
}

button.delete-button{
    background-color: orangered;
    border-radius: 5px;
    height: fit-content;
    transition: 0.3s;
}
button.delete-button:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 red, 10px 6px 20px 0 #00000030;
}

div#pulldown-menus-container{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0px 30px;
    select{
        font-size: 1.4rem;
        margin: 2%;
    }
}

div#date-menus-container{
    display: flex;
    width: fit-content;
}

div.date-row-wrapper{
    display: flex;
    width: 100%;
    margin: 2%;
    input{
        font-size: 1.4rem;
    }
    p{
        font-size: 1rem;
        margin: 0px 5px;
    }
}

button#btn-add{
    margin-right: 7%;
}

div#page-selector-wrapper{
    display: flex;
    width: fit-content;
    margin: auto;
}
span.page-number-span{
    font-size: 0.9rem;
    cursor: pointer;
    text-align: center;
    padding: 5px;
}
span.current-page{
    font-size: 1rem;
    text-decoration: underline;
}

/* 売上データオブジェクトの設定は */

div.sale-box{
    display: flex;
    width: 95%;
    margin: auto auto 20px auto;
    border: 2px solid black;
    border-radius: 10px;
    justify-content: space-between;
    font-size: 1.2rem;
}

div.sale-image-txt-holder, div.sale-button-box{
    display: flex;
    width: fit-content;
    margin: 5px;
    p{
        width: fit-content;
        margin: auto;
    }
    button{
        margin: auto 10px;
    }
}

a.image-wrapper-anchor{
    display: block;
    line-height: 0;
}

a.product-name-anchor{
    text-decoration: underline;
    color: black;
}

img.sale-image{
    border: 0.5px solid black;
    border-radius: 7px;
    margin: 2px 25px 2px 5px;
}

form.deleteForm{
    display: flex;
}

/* popupの設定はここからです */
div#black-background{
    display: none;  /* flexとnoneを切り替える */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0006;
    z-index: 2;
}

div#create-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;  /* flexとnoneを切り替える */
    z-index: 15;
    width: 50%;
    flex-direction: column;
    padding: 10px 50px;
    border: 2px solid black;
    border-radius: 35px;
    background-color: white;
    font-size: 1.2rem;
}

div#create-pop-contents{
    width: 60%;
    margin: 0 auto 30px auto;
}

div#create-title-section{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

div#create-top-section{
    display: flex;
    width: fit-content;
    margin: auto;

    select{
        font-size: 1.2rem;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
}

div#create-middle-section{
    width: fit-content;
    margin: 20px auto;
}
input.sale-quantity-input{
    font-size: 1.2rem;
}
input.sale-staff{
    font-size: 1.2rem;
}

td.table-left-side{
    width: 120px;
}

div#create-buttons-holder{
    width: fit-content;
    margin: auto;
    button{
        margin: 10px 40px;
    }
}

input.sale-time-textbox{
    display: none; /* flexとnoneを切り替える */
}

/* popup(edit)�̐ݒ� */
div#black-background{
    display: none;  /* flexとnoneを切り替える */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0006;
    z-index: 2;
}

div#edit-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;  /* flexとnoneを切り替える */
    z-index: 15;
    width: 50%;
    flex-direction: column;
    padding: 10px 50px;
    border: 2px solid black;
    border-radius: 35px;
    background-color: white;
    font-size: 1.2rem;
    z-index: 5;
}
div#edit-pop-contents{
    width: 70%;
    margin: 0 auto 30px auto;
}
div#edit-title-section{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
div#edit-top-section{
    display: flex;
    width: fit-content;
    margin: auto;

    select{
        height: 20px;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
}
div#edit-middle-section{
    width: fit-content;
    margin: auto;
}
div#edit-buttons-holder{
    width: fit-content;
    margin: auto;
    button{
        margin: 10px 40px;
    }
}

p#edit-warning-message {
    color: grey;
    text-align: center;
    font-size: 0.8rem;
}

/* popupの設定はここまでです */


/* 売上データ集計の設定はここからです */

div.groupingOption-button-holder{
    display: flex;
    width: 100%;
}

button.groupingOption-button{
    margin: 5px auto auto auto;
    background-color: white;
    font-size: 1rem;
    border-radius: 2px;
    border-width: 0.5px;
    padding: 2px 5px;
    cursor: pointer;
    transition: 0.1s;
}
button.groupingOption-button:hover{
    box-shadow: 0 2px 2px 0 #00000033;
}
button.groupingOption-button:active{
    transform: translateY(5%);
}

div#grouping-toggle-button{
    display: flex;
    width: fit-content;
    height: fit-content;
    margin: auto 0 auto 0;
    padding: 5px 5px 5px 10px;
    border: 1px solid darkslategrey;
    border-radius: 7px;
    cursor: pointer;
    /*z-index: 2;*/
    p#grouping-toggle-button-text{
        margin: 0;
    }
    img#grouping-toggle-button-image{
        margin-left: 10px;
        transform: rotate(0deg);    /* 0degと180degを切り替える */
        transition: transform 0.2s ease-in-out;
    }
}

div#groupingDiv{
    display: flex;
    width: 95%;
    overflow: hidden;
    height: 0;  /* 0と特定の数値を切り替える */
    margin: auto auto 50px auto;    /* 0pxと「auto auto 50px auto」を切り替える */
    transition: height 0.2s ease-in-out;
    border: none;   /* 1px solid blackとnoneを切り替える */
    div#groupingSettingsDiv{
        width: 50%;
        height: 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        div.groupingSettingsRow{
            display: flex;
            flex-direction: column;
            div.optionsInRowWrapper{
                display: flex;
                margin: 10px 0px;
                /*justify-content: space-between;*/
            }
        }
    }
    div#groupingResultsDiv{
        position: relative;
        width: 50%;
    }
}

div.justifyContentsSpaceBetween{
    justify-content: space-between;
}

div.innerDivsMarginBottomAuto{
    div{
        margin-bottom: auto;
    }
}

div.groupingOptionHolder{
    width: fit-content;
    height: auto;
    margin: 0px 20px 0px 20px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 7px;
    font-size: 1rem;
    p.groupingOptionIntro{
        width: 100%;
        margin: 0;
        font-weight: bold;
    }
    div.periodGroupingOption-periodHolder{
        width: 150px;
        div{
            margin: 5px 0px 0px 0px;
        }
    }
}

div.paramAndButtonHolder{
    margin-bottom: 0px;
}

div#periodTopTen-DetailedSearchParams,
div#periodWorstTen-DetailedSearchParams{
    display: flex;
    flex-direction: column;
}

p#groupingResultPlaceholder{
    color: #888888;
    text-align: center;
}

p.groupingSettingsRowIntro{
    display: inline-block;
    width: 80%;
    padding-left: 20px;
    border-bottom: #aaaaaa 2px solid;
}

div#compare-grOpt{
    margin-bottom: 20px;
}

div#compare-grOpt-radioHolders{
    font-size: 0.8rem;
    width: 50%;
    justify-content: space-between;
}

/* chartJSの設定 */

canvas#smallCanvas{
    margin: 0px;    /* pieChartの場合は auto に切り替える */
    width: 100%;
    height: 100%;
}

canvas#fullScreenCanvas{
    margin: 0px;    /* pieChartの場合は auto に切り替える */
    width: 100%;
    height: 100%;
}

.stop-scrolling {   /*fullScreenポップアップが出たら後ろのページをスクロールさせないためにbodyにclassを付ける*/
    height: 100%;
    overflow: hidden;
}

div#fullscreenChartDiv{
    display: none;  /* noneとflexを切り替える */
    flex-direction: column;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    border-radius: 40px;
    border: 2px solid black;
    background-color: white;
    z-index: 10;
    div#closeFullScreenCanvas{
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 1.2rem;
        border-radius: 50%;
        padding: 5px 10px;
        z-index: 3;
        cursor: pointer;
    }
}

div#fullScreenCanvasButtonHolder{
    display: none; /* noneとflexを切り替える */
    width: fit-content;
    height: fit-content;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1;
    cursor: pointer;
}