/* sales専用 */
div#everything-wrapper{
    font-size: 1.4rem;
    width: 100%;
    align-items: center;
    height: fit-content;
    margin: 10% auto;
    display: flex;
    flex-direction: column;
}

/* order専用 */
div#order-everything-wrapper{
    font-size: 1.4rem;
    width: 100%;
    align-items: center;
    height: fit-content;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
}

div#main-section-wrapper{
    display: flex;
    width: fit-content;
    margin: 40px auto;
    justify-content: space-between;
}

div#left-section-wrapper{
    display: flex;
    margin: 20px 50px;
}

img.image{
    border: 1px solid black;
    border-radius: 7px;
}

td.table-left-side{     /* sales専用 */
    width: 120px;
}
td.order-table-left-side{   /* order専用 */
    width: 240px;
}

td#orderStartQuantityPriceMessage{  /* order専用 */
    font-size: 1rem;
    padding-bottom: 20px;
    text-align: right;
}

div#buttons-holder{
    display: flex;
    width: fit-content;
    margin: auto;
    button{
        font-size: 1.4rem;
        margin: 30px 20px;
    }
}

button.normal-button{
    background-color: white;
    border-radius: 5px;
    font-size: 1.6rem;
    border-width: 1px;
    padding: 0 30px 0 30px;
    transition: 0.3s;
}
button.normal-button:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
}

button.delete-button{
    background-color: orangered;
    border-radius: 5px;
    font-size: 1.6rem;
    border-width: 1px;
    padding: 0 15px 0 15px;
    transition: 1s;
}
button.delete-button:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 red, 10px 6px 20px 0 #00000030;
}


p#delete-text{
    display: inline-block;
    margin-left: 20px;
    width: fit-content;
    text-align: center;
}